<%
for (var message in messages) {
  if (messages.hasOwnProperty(message)) {
    messages[message].forEach(function (value) {
-%>
<div class="message <%= message %>"><%= value %></div>
<%
    });
  }
}
-%>
