<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
  <% include ../includes/flash %>
  <% if (user) { %>
    Hi <%= user.name.full  %>
  <% } else { %>
    You're not logged in
  <% } %>
</body>
</html>
